* {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #607890;
}

a:hover {
  color: #9cadbf;
}

#main {
  box-sizing: border-box;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 670px;
  max-width: 100%;
  line-height: 1.5em;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main h2 {
  font-size: medium;
  font-weight: bold;

  line-height: 2em;

  letter-spacing: 2px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  margin-bottom: 25px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  margin-top: 40px;
  margin-left: 10%;
  min-height: 50px;
  width: 650px;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
  display: inline;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  background: #e6ebef;
}

#logo {
  position: absolute;
  left: 10%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #e6ebef;
  background: #384552;
}

#jchar {
  top:50%;
  height:1.5em;
  margin-top:0.25em;
}

#jchar a {
  color: #e6ebef;
  padding: 13px;
}

#nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  padding-left: 15px;
  margin-top: 0.75em;
  height: 50px;
  width: 600px;
}

#snail {
  margin-top: 9500px;
  text-align: center;
}

hr {
	background:#ddd;
	color:#ddd;
	clear:both;
	float:none;
	width:100%;
	height:1px;
	margin:0 0 1.42em;
	border:none;
}

.metadata {
	font-size: 0.8em;
	letter-spacing: 2px;
	color: #999;
	margin-left: 5px;
}

.code {
	font-family: courier;
}

.code-block {
	font-family: courier;
	display: block;
	margin: 10px;
}

.gist {
	font-size: 0.75em;
}	

.article-row {
  display: flex;
}

.article-column {
  padding: 5px;
  flex: 50%;
}

.article-column-sticky {
  position: sticky;
  flex: 7%;
  top: 10px;
  align-self: flex-start;
}

#main .article-column.article-column-sticky ul,ol {
  margin: 0;
}

#main .article-column.article-column-sticky li {
  margin: 0;
  list-style-type: none;
}

#main .article-column.article-column-sticky ul li ul {
  margin: 5px 0;
}

#main .article-column.article-column-sticky ul li ul li {
  margin-left: 10px;
}

img.thumb {
  max-width: 100%;
}

.lb-outerContainer {
  background-color: transparent !important;
}

.lightbox .lb-image {
  border: none !important;
}

table {
  font-size: 12px;
  line-height: 12px;
}

td {
  padding: 5px;
}

td:first-child {
  font-weight: bold;
}

thead td {
  border-bottom: 2px solid #c6d5e3;
}

thead {
  background-color: rgba(198, 213, 227, 0.25);
}